.chart-container {
  width: 100%;
  height: 100%;
  background: rgba(243, 240, 240, 0.63);
  padding: 10px;
  overflow: auto;
}

.Pane::-webkit-scrollbar {
  display: none;
}

.debug-pane {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.pane-header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ebebeb;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  user-select: none;
  cursor: pointer;
}

.pane-header svg {
  margin-right: 4px;
}

.tabs-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-nav li {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  padding: 0 10px;
  cursor: pointer;
}

.icon {
  margin: auto;
}

.active-tab {
  background: white;
  color: black;
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: red;
  height: 100vh;
}
