.chart-container {
  width: 100%;
  height: 100%;
  background: rgba(243, 240, 240, 0.63);
  padding: 10px;
  overflow: hidden;
}

.Pane::-webkit-scrollbar {
  display: none;
}

.debug-pane-header {
  width: 100%;
  height: 25px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background: #ebebeb;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}

.tabs-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-nav li {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  padding: 0 10px;
}

.icon {
  margin: auto;
}

.active-tab {
  background: #fff;
  color: #000;
}

.debug-pane {
  width: 100%;
}

.close {
  cursor: pointer;
  padding: 0 10px;
}

.close svg {
  stroke: black;
}
