.chart-container {
  width: 100%;
  height: 100%;
  background: var(--light-gray-color);
  padding: 10px;
  overflow: auto;
}

.Pane::-webkit-scrollbar {
  display: none;
}

.debug-pane {
  width: 100%;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
}

.pane-header {
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-gray-color);
  text-transform: uppercase;
  font-size: 12px;
  color: var(--extra-dark-gray-color);
  user-select: none;
  cursor: pointer;
}

.pane-header .logs-text {
  margin-right: 4px;
}

.pane-header svg {
  margin-right: 4px;
}

.pane-header .error {
  font-weight: bold;
}

.pane-header .warnings-count {
  color: var(--warning-color);
}

.tabs-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-nav li {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  padding: 0 10px;
  cursor: pointer;
}

.icon {
  margin: auto;
}

.active-tab {
  background: var(--white-color);
  color: var(--black-color);
}

.myInlineDecoration {
  background-color: #f8c9aa !important;
}

.chart-container .versions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  font-size: 0.8em;
  color: var(--dark-gray-color);
  background-color: var(--light-gray-color);
}
