_site
.awcache
.DS_Store
.eslintignore
.eslintrc.js
.idea
.prettierignore
beemo-error.log
coverage
dist
node_modules
npm-debug.log*
package-lock.json
prettier.config.js
public/data/
public/spec/
stats.json
tsconfig.json
yarn-debug.log*
yarn-error.log*
