
.toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
}

.toolbar > div {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
}

.renderer-toggle, .autoParse, .tooltip-toggle {
  background: #777;
  color: white;
  cursor: pointer;
}

.status {
  background: #399e39;
  color: white;
  cursor: default;
}

.toolbar .debug-toggle {
  background: #399e39;
  color: white;
  margin-left: 20px;
}

.toolbar .warning-indicator {
  background: #f0ad4e;
  color: white;
  cursor: pointer;
}

.toolbar .error-indicator {
  background:red;
  color: white;
  cursor: pointer;
}