/* Toolbar */
.toolbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar > div {
  margin: 0.4vw;
  display: inline-block;
  padding: 0.4vw;
  border-radius: 5px;
  font-size: 0.8em;
}

.renderer-toggle,
.autoParse,
.tooltip-toggle,
.vega-export {
  background: #1e1e1e;
  color: #eee;
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid #1e1e1e;
}

.status {
  float: right;
  background: #399e39;
  color: #fff;
  cursor: default;
}

.toolbar .warning-indicator {
  background: #f0ad4e;
  color: white;
  cursor: pointer;
}

.toolbar .error-indicator {
  background: #ff0033;
  color: #fff;
  cursor: pointer;
}
