.export-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
}

.export-button-container {
  min-width: 280px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  margin: 1%;
  padding: 10px 20px;
  font-size: 0.9em;
}
.export-button {
  width: 100%;
  background: white;
  border: 1px solid #adababa8;
  background: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 1%;
  margin-top: 25px;
}

.export-button:hover {
  background: #ddd;
}

.export-button-container .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-button-container span {
  padding-left: 8px;
  font-size: 1.6em;
  line-height: 50px;
}

.export-button-container p {
  line-height: 1.2;
  text-align: left;
  width: 100%;
  margin: 0.2em 0 0 0;
}

.export-button-container p strong {
  color: firebrick;
}

.export-button svg {
  width: 30px;
  height: 30px;
}

.export-button.disabled {
  cursor: wait;
  background: #eee;
  filter: grayscale(80%);
  opacity: 0.8;
}

.input-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.vl-label {
  margin-left: 1em;
}

.user-notes p {
  padding: 20px 0;
}

.download {
  margin-top: 9px;
}
