.exports {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
}

.export-container {
  min-width: 280px;
  border: 1px solid var(--dark-gray-color);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  margin: 1%;
  padding: 10px 20px;
  font-size: 0.9em;
}

.export-container .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-container span {
  padding-left: 8px;
  font-size: 1.6em;
  line-height: 50px;
}

.export-container p {
  line-height: 1.2;
  text-align: left;
  width: 100%;
  margin: 0.2em 0 0 0;
}

.export-container p strong {
  color: var(--strong-color);
}

.export-container button {
  width: 100%;
  margin: 1%;
  margin-top: 1%;
  margin-top: 25px;
}

.export-container button.download {
  margin-top: 9px;
}

.input-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.vl-label {
  margin-left: 1em;
}

.user-notes p {
  padding: 20px 0;
}

.download {
  margin-top: 9px;
}
