.sharing-buttons {
  display: flex;
  align-items: center;
  padding: 2em 0;
}

.sharing-buttons .button svg {
  width: 22px;
  height: 22px;
  stroke: var(--black-color);
  padding-right: 5px;
}

.user-pref {
  display: flex;
  align-items: center;
}

.copy-icon span {
  display: flex;
  align-items: center;
}

.copied {
  padding: 0 20px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.url-warning {
  padding-left: 10px;
}

.url-warning,
.url-warning a {
  color: var(--warning-color);
}
