.sharing-buttons {
  display: flex;
  align-items: center;
  padding: 2em 0;
}

.sharing-buttons .button svg {
  width: 22px;
  height: 22px;
  stroke: var(--black-color);
  padding-right: 5px;
}

.user-pref {
  display: flex;
  align-items: center;
}

.copy-icon span {
  display: flex;
  align-items: center;
}

.copied {
  padding: 0 20px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.url-warning {
  padding-left: 10px;
}

.url-warning,
.url-warning a {
  color: var(--warning-color);
}

.share-split {
  display: flex;
}

.share-split > div {
  flex: 1;
}

.share-input-container {
  margin-top: 20px;
}

.share-input-container > input[type="checkbox"] {
  margin-left: 0;
}

.share-input-container > label > input {
  width: 100%;
  padding: 5px;
}

.share-input-container > button {
  background: rgb(100, 80, 150);
  color: white;
  border: 1px solid #a9a9a9;
  outline: none;
  font-size: 16px;
  padding: 0 20px;
  height: 30px;
}

.share-error {
  float: left;
}
