.sharing-buttons {
  display: flex;
  align-items: center;
  padding: 2em 0;
}

.sharing-buttons .editor-button svg {
  width: 22px;
  height: 22px;
  stroke: var(--black-color);
  padding-right: 5px;
}

.user-pref {
  display: flex;
  align-items: center;
}

.copy-icon span {
  display: flex;
  align-items: center;
}

.copied {
  padding: 0 20px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.url-warning {
  padding-left: 10px;
}

.url-warning,
.url-warning a {
  color: var(--warning-color);
}

.share-gist-split {
  display: flex;
  flex-direction: row;
}

.share-gist-split > div {
  flex: 1;
}

.update-gist {
  padding-right: 3em;
}

.share-input-container {
  margin-top: 20px;
}

.share-input-container > input[type="checkbox"] {
  margin-left: 0;
}

.share-input-container select {
  margin-top: 5px;
  padding: 5px;
}

.share-input-container > label > input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 0.5em;
}

.share-error {
  float: left;
}

.success {
  margin-left: 10px;
}

.share-modal .spacer {
  margin-top: 4em;
}

small {
  color: var(--extra-dark-gray-color);
}
