.vega-editor {
  display: -webkit-flex;
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
}

.vega-editor .mod_spec {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 540px;
  border-right: 1px solid #ccc;
}

.vega-editor .mod_vis {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: 10px;
  background-color: white;
  border-left: 1px solid #ccc;
}

.vega-editor .module {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.vega-editor .mod_header {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 4px 4px 4px 6px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  line-height: 22px;
}

.vega-editor .mod_subheader {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 2px 4px 2px 6px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 18px;
  font-size: 12px;
}

.vega-editor .vg_pane { cursor: pointer; }
.vega-editor .vg_pane:hover { background: #fafafa; }

.vega-editor .mod_body {
  -webkit-flex: 1 1 0;
  flex: 1 1 auto;
  padding-top: 2px;
  overflow: auto;
}

.vega-editor .vis {
  overflow: auto;
  margin: 4px;
}

.vega-editor .sel_mode {
  font-size: 15pt;
  width: 125px;
  margin-left: 5px;
}

.vega-editor .mod_params {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.vega-editor .spec_desc {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 4px;
  font-size: 12px;
  color: #666;
}

.vega-editor .spec {
  font-family: Monaco, Courier New;
  font-size: 10px;
  white-space: pre;
}

.vg-spec .ace_content.disabled {
  background-color: #E4E4E4;
}

.vg-spec .ace_content.disabled .ace_cursor {
  color: transparent;
}

.vega-editor .vis svg,
.vega-editor .vis canvas {
  border: 1px dashed #ccc;
}

.vega-editor .mod_ctrls {
  float: right;
}

.vega-editor .mod_ctrls input {
  height: 19px;
}

.vega-editor .vl-spec .ace_scrollbar {
  display: none;
}

.vega-editor .vl-spec:hover .ace_scrollbar {
  display: block;
}

.vega-param {
  line-height: 15px;
}

.vega-param * {
  vertical-align: middle;
}

.vega-param-name {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
}

.vega-params label {
  font-size: 10px;
  margin-right: 5px;
}

.vega-params label.vega-range {
  display: inline-block;
  max-width: 30px;
  overflow: hidden;
}

.vega-params input[type=range] {
  max-width: 100px;
  margin-right: 5px;
}

.vega-params input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px 0;
}

.vega-params select,
.vega-params input[type=text] {
  box-sizing: border-box;
  width: 130px;
  max-width: 130px;
}

.vega-editor .click_toggle_vega {
  cursor: pointer;
  display: inline-block;
  width: 64px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  position: relative;
  top: 3px;
  opacity: 0.7;
}

.vega-editor .click_toggle_vega.up {
  background-image: url("../images/chevron_up.png");
}

.vega-editor .click_toggle_vega.down {
  background-image: url("../images/chevron_down.png");
}

/* hide some elements in vega mode */
.vega-editor.vega .hide-vg {
  display: none;
}

.vega-editor.vega-lite .hide-vl {
  display: none;
}
