.theme-header {
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 30px;
  flex-shrink: 0;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.theme-header > select {
  position: absolute;
  right: 6px;
}

#theme-heading {
  position: absolute;
  right: 114px;
  text-transform: none;
}
