.sizeFixEditorParent .react-monaco-editor-container {
  overflow: hidden;
}

.editor-header {
  font-size: 12px;
  width: 100%;
  height: 25px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.editor-header.right-align {
  justify-content: flex-end;
}
