.sizeFixEditorParent .react-monaco-editor-container {
  overflow: hidden;
}

.editor-header {
  display: flex;
  background: #569CD6;
  color: #1e1e1e;
  opacity: 0.9;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  justify-content: space-between;
}

.editor-header.right-align {
  justify-content: center;
}

.editor-header .button {
  color: #eee;
  margin: 0.2vw;
  padding: 0.2vw 0.4vw;
  border:1px solid #1e1e1e;
  border-radius: 5px;
  background: #1e1e1e;
  opacity: 0.9;
  font-size: 0.75em;
  cursor: pointer;
}
