.sizeFixEditorParent .react-monaco-editor-container {
    overflow: hidden;
}

#parse-button {
    position: absolute;
    right: 3%;
    cursor: pointer;
}

.editor-header {
    font-size: 12px;
    width: 100%;
    height: 25px;
    flex-shrink: 0;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
}
