.sizeFixEditorParent .react-monaco-editor-container {
  overflow: hidden;
}

.editor-header {
  font-size: 12px;
  width: 100%;
  height: 25px;
  flex-shrink: 0;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
}

.editor-header.right-align {
  justify-content: flex-end;
}

.button {
  user-select: none;
  margin-right: 8px;
}

.button:focus {
  outline: 0;
}

.button:active,
.button-press {
  box-shadow: 0 0 1px 0 #000;
}
