.sizeFixEditorParent .react-monaco-editor-container {
  overflow: hidden;
}

.editor-header {
  font-size: 12px;
  width: 100%;
  height: 25px;
  flex-shrink: 0;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
}

.editor-header.right-align {
  justify-content: flex-end;
}

.button {
  margin-right: 8px;
}
