.sidebar {
  flex: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-left: solid 10px var(--light-gray-color);
  background: var(--white-color);
  width: 250px;
  gap: 10px;
}
.sidebar fieldset {
  overflow: hidden;
  border-color: var(--light-gray-color);
}

.sidebar button {
  margin-bottom: 10px;
}

.sidebar p {
  font-size: small;
  color: var(--extra-dark-gray-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar table {
  height: 100%;
  display: block;
  overflow-y: scroll;
}

.sidebar table thead {
  position: sticky;
  top: 0;
}

/* By default the table editor has clickable headers. Revert those to default. */
.sidebar table.editor-table th {
  cursor: default;
}

/* Make rows clickable instead */
.sidebar table.editor-table tr {
  cursor: pointer;
}

.active-pulse {
  outline: 1px solid var(--extra-dark-gray-color);
}

/* Don't shrink type input */
.type-filter {
  flex-shrink: 0;
}
