.sidebar {
  flex: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-left: solid 2px var(--light-gray-color);
}
.sidebar h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar button {
  margin-bottom: 10px;
}

.sidebar p {
  font-size: small;
  color: var(--extra-dark-gray-color);
  margin-bottom: 10px;
}

.sidebar table {
  height: 100%;
  display: block;
  overflow-y: scroll;
}

.sidebar table thead {
  position: sticky;
  top: 0;
}

.sidebar .buttons {
  display: flex;
  gap: 10px;
}

.active-pulse {
  border: 4px solid var(--extra-dark-gray-color);
}
