.gist-split {
  display: flex;
}

.personal-gist {
  flex: 1;
}

.load-gist {
  flex: 1;
}

.privacy-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.privacy-toggle > input {
  margin: 0 4px 0 0;
}

.gist-wrapper {
  margin-right: 0.5em;
  overflow-y: auto;
  max-height: 35vh;
}

.gist-container {
  margin-bottom: 1em;
  font-size: 0.9em;
  word-wrap: break-word;
}

.personal-gist-description {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 8px;
  font-weight: bold;
}

.play-down {
  color: #999999;
}

.personal-gist-files {
  display: flex;
  flex-direction: column;
}

.file {
  display: flex;
}

.arrow {
  margin: 4px;
  width: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.filename {
  font-family: monospace;
  cursor: pointer;
  margin-top: 4px;
  color: #4f4f4f;
}

.filename:hover {
  color: #000000;
}

.gist-text {
  margin-top: 30px;
  font-size: 12px;
  font-style: italic;
}

.gist-url {
  font-size: 12px;
  font-style: italic;
  color: rgb(6, 69, 173);
}

.gist-input-container {
  margin-top: 20px;
}

.gist-optional:after {
  display: table;
  content: "";
  clear: both;
}

.gist-optional-input-container {
  box-sizing: border-box;
}

.gist-input-container input[type="radio"] {
  margin-left: 10px;
}

.gist-input-container input:checked + label {
  text-decoration: underline;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30%;
  font-size: 20px;
}

.gist-input {
  display: block;
  width: 100%;
  resize: none;
  font-size: 14px;
  padding: 5px;
  margin-top: 3px;
}

.error-message {
  font-size: 12px;
  height: 5 px;
  color: var(--error-color);
  margin-top: 3px;
  margin-bottom: 5px;
  float: right;
}

.preview-container {
  display: flex;
  flex-direction: column;
}

.preview-image-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.preview-text {
  margin-right: 10px;
}

.preview-image-wrapper {
  height: 100px;
  overflow: hidden;
}

.preview-image-wrapper > img {
  position: relative;
  width: 150px;
  transition: transform 2s;
}

.preview-error-message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.preview-error-message {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--error-color);
}

.preview-error-icon {
  margin-right: 4px !important;
  width: 16px;
}

.preview-error-fix {
  font-size: 12px;
}
