.gist-split {
  display: flex;
  flex-wrap: wrap;
}

.gist-split > div {
  flex: 1;
}

.personal-gist {
  min-width: 50%;
  padding-right: 2em;
}

.gist-text {
  margin-top: 30px;
  font-size: 12px;
  font-style: italic;
}

.gist-url {
  font-size: 12px;
  font-style: italic;
  color: var(--url-color);
  word-break: break-all;
}

.gist-input-container {
  min-width: 150px;
  margin-top: 20px;
}

.gist-optional:after {
  display: table;
  content: "";
  clear: both;
}

.gist-optional-input-container {
  box-sizing: border-box;
}

.gist-input-container input[type="radio"] {
  margin-left: 10px;
}

.gist-input-container input:checked + label {
  text-decoration: underline;
}

.gist-input {
  display: block;
  width: 100%;
  resize: none;
  font-size: 14px;
  padding: 5px;
  margin-top: 3px;
}

.error-message {
  font-size: 12px;
  height: 5 px;
  color: var(--error-color);
  margin-top: 3px;
  margin-bottom: 5px;
  float: right;
}

.preview-container {
  display: flex;
  flex-direction: column;
}

.preview-image-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.preview-text {
  margin-right: 10px;
}

.preview-image-wrapper {
  height: 100px;
  overflow: hidden;
}

.preview-image-wrapper > img {
  position: relative;
  width: 150px;
  transition: transform 2s;
}

.preview-error-message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.preview-error-message {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--error-color);
}

.preview-error-icon {
  margin-right: 4px !important;
  width: 16px;
}

.preview-error-fix {
  font-size: 12px;
}
