.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  border-bottom: solid 2px var(--box-shadow-color);
}

.header-button,
.header a {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--black-color);
  text-decoration: none;
  user-select: none;
  position: relative;
  z-index: 10;
  white-space: nowrap;
  padding: 0px 17px;
}

.header-button:hover,
.dark-background {
  background: var(--transparent-color);
}

.header section > span {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-icon {
  display: none;
  margin: 0 5px 0 0;
  width: 20px;
}

.header section {
  display: flex;
  align-items: center;
}

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: var(--transparent-bg-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.modal {
  position: relative;
  background: var(--white-color);
  width: 80%;
  align-self: flex-start;
  margin-top: 5vh;
}

.modal-body {
  padding: 30px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 20;
}

.modal-body h1 {
  font-size: 1.8em;
}

.modal-body h1:first-child {
  margin-top: 0;
}

.close-button {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: var(--white-color);
}

.close-button:hover {
  background: var(--light-gray-color);
}

.close-button:focus {
  outline: 0;
}

.button-groups button {
  width: 120px;
  font-size: 16px;
  padding: 5px 10px;
  background: var(--white-color);
  border: solid 1px var(--black-color);
  display: inline;
}

.button-groups button.selected {
  background: var(--dark-brand-color);
  color: var(--white-color);
}

.button-groups button:first-of-type {
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.button-groups button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.button-groups button:not(.selected):hover {
  background: var(--light-gray-color);
  color: var(--black-color);
}

.button-groups button:focus {
  outline: none;
}

.button-groups {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
  z-index: 21;
}

.spec-type {
  border-bottom: solid 1px var(--gray-color);
  clear: left;
  padding-bottom: 4px;
}

.item-group {
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  padding: 10px;
  cursor: pointer;
  max-width: 140px;
  text-align: center;
}

.item .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 100px;
}

.item .name {
  margin-top: 3px;
  padding-top: 5px;
  border-top: solid 1px var(--gray-color);
  font-size: 12px;
}

.item:hover .name {
  border-top-color: var(--extra-dark-gray-color);
}

.mode-switcher-wrapper {
  width: 125px;
  margin: 0 8px;
  font-size: 14px;
}

.run-button {
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
}

/* Overriding default styles of React Select v2*/
.mode-switcher__menu,
.auto-run__menu {
  box-shadow: none !important;
  border: 1px solid var(--gray-color) !important;
  border-top: 0 !important;
}

.mode-switcher__menu {
  margin-top: 0 !important;
}

.auto-run__menu {
  margin-top: 10px !important;
  width: 80px !important;
}

.auto-run__option {
  color: var(--black-color) !important;
}

.auto-run__control {
  border: none !important;
}

.mode-switcher__control {
  border-color: var(--gray-color) !important;
}

.mode-switcher__control--is-focused {
  box-shadow: none !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mode-switcher__single-value {
  overflow: initial !important;
}

.auto-run__control--is-focused {
  box-shadow: 0 0 0 1px transparent !important;
}

.auto-run__option--is-focused,
.mode-switcher__option--is-focused {
  background-color: var(--white-color) !important;
}

.auto-run__menu,
.mode-switcher__menu {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.auto-run__option:hover,
.mode-switcher__option:hover {
  background-color: var(--transparent-color) !important;
}

.auto-run-wrapper .auto-run__control {
  background: transparent !important;
  border: none !important;
}

.auto-run-wrapper .auto-run__indicator {
  position: relative;
  z-index: 12;
}

.auto-run-wrapper .auto-run__indicator-separator {
  width: 0px;
}

.auto-run-wrapper {
  width: 85px;
  right: 64px;
  margin-right: -105px;
  padding-right: 7px;
}

.split-button {
  width: 80px;
}

.split-button > div:hover {
  background: transparent;
}

.split-button:hover {
  background: var(--transparent-color);
}

.parse-label {
  padding: 3px 0;
}

.parse-mode {
  text-align: center;
  font-size: 10px;
  color: var(--extra-dark-gray-color);
  padding: 3px 0;
}

.header-button .header-icon {
  display: none;
}

.auth-button-container {
  margin: 0 8px;
}

.sign-in {
  font-size: 0.9em;
  background: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--dark-gray-color);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  padding: 6px;
}

.sign-in-text {
  padding-right: 6px;
}

.profile-container {
  display: flex;
  align-items: center;
  z-index: 10000000;
  cursor: pointer;
}

.profile-img {
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-radius: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--extra-dark-gray-color);
}

.profile-menu {
  position: fixed;
  width: 130px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-gray-color);
  top: 56px;
  right: 6px;
  z-index: 10;
  border-radius: 3px;
  cursor: default;
}

.profile-menu::before,
.profile-menu::after {
  position: absolute;
  width: 0px;
  height: 0px;
  content: "";
  bottom: 101px;
  right: 31px;
}

.profile-menu::before {
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--dark-gray-color);
  right: 29px;
}

.profile-menu::after {
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--white-color);
}

.welcome {
  font-size: 0.7em;
  color: var(--extra-dark-gray-color);
  margin: 13px 0 0 12px;
}

.whoami {
  font-size: 0.9em;
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid var(--gray-color);
}

.sign-out {
  font-size: 16px;
  background-color: transparent;
  padding: 10px 0 10px 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
}

.sign-out:hover {
  background-color: var(--light-gray-color);
}

/* Media queries */
@media only screen and (min-width: 1100px) {
  .header-button .header-icon {
    display: block;
  }

  .auto-run-wrapper {
    width: 90px;
  }

  .auto-run__menu {
    right: 5px !important;
    width: 111px !important;
  }

  .split-button {
    width: 110px;
  }
}
