.header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
  /*align-items: center;*/
}
.header img {
  align-self: flex-end;
}


.header div {
  display: inline-block;
  /*margin-top: 10px;*/
  font-size: 18px;
  align-self: flex-end;
  background: white;
  border: none;
  cursor: pointer;
  border-bottom: solid 5px white;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.header div.button:hover {
    background: white;
    border-bottom: solid 5px rgb(92, 64, 141);
}


ul {
  margin-top: 0;
}

.rc-menu li {
  cursor: pointer;
}

.rc-menu > li {
  padding: 0;
  margin: 0;
}


.rc-menu-item {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rc-menu-horizontal {
  /*display: inline-block;
  width: 75%;*/
}

.rc-menu .rc-menu {
  max-height: 75vh;
  overflow: scroll;
}

.rc-menu-horizontal {
  background-color: white;
  color: black;
  border-bottom: none;
}

.options-menu {

}

.rc-menu-horizontal > .rc-menu-item, .rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title {
  padding: 15px 20px;
  padding-top: 20px;
}

.rc-menu-horizontal > .rc-menu-submenu {
  border-bottom: solid 5px white;
}

.rc-menu-horizontal > .rc-menu-submenu-selected {
  background: white;
  border-bottom: solid 5px rgb(92, 64, 141);
  /*font-weight: bold;*/
  /*color: rgb(92, 64, 141);*/
}

.rc-menu-horizontal > .rc-menu-submenu-active {
  border-bottom: solid 5px rgb(92, 64, 141);
  /*font-weight: bold;*/
  /*color: rgb(92, 64, 141);*/
}

.rc-menu-submenu-active > .rc-menu-submenu-title {
  background: white;
  color: black;
}

.modal {
  position: relative;
  top: 0;
  left: 25%;
  width: 50%;
  background: white;
  margin: 10px;
  margin-top: 0;
  padding: 29px 30px;
  z-index: 90;
  border: solid 1px rgb(92, 64, 141);
  overflow: hidden;
}


.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 59px;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 80;
}

.modal-area {
  position: absolute;
  top: 70px;
  left: 0%;
  width: 100%;
  bottom: 10%;
  z-index: 90;
  overflow: scroll;
}

.modal-header {
  position: absolute;
  top: 70px;
  left: 25%;
  width: 50%;
  background: white;
  z-index: 95;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: white;
}

.close-button:hover {
  background: rgba(243, 240, 240, 0.63);
}

.button-groups button {
  font-size: 16px;
  padding: 5px 10px;
  background: white;
  border: solid 1px black;
  cursor: pointer;
  width: 120px;
}

.button-groups button.selected {
  background: rgb(92, 64, 141);
  color: white;
}

.button-groups button:first-of-type {
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.button-groups button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.button-groups button:not(.selected):hover {
  background: #f7f5f5;
  color: black;
}

.button-groups button:focus {
  outline: none;
}

.button-groups {
  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: -16px;
  z-index: 100;
}

.specType {
  border-bottom: solid 1px black;
  clear: left;
}

.itemGroup {
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  padding: 12.5px;
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  line-height: 12px;
}

.item .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 80px;
  background-color: white;
}

.item .name {
  margin-top: 3px;
  padding-top: 5px;
  border-top: solid 1px #000;
  font-size: 12px;
}

.item:hover {
  background: rgba(243, 240, 240, 0.63);
}

.gist-content {
  overflow: scroll;
  padding-left: 20px;
}

.gist-button {
  background: lightgrey;
  border: 1px solid #A9A9A9;
  cursor: pointer;
  width: 200px;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.gist-button:hover {
  background: rgb(92, 64, 141);
  color: white;
}

.gist-text {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic; 
}

.gist-url {
  font-size: 12px;
  font-style: italic; 
  color: rgb(6,69,173);
}

.gist-input {
  display: block;
  width: 400px;
  resize: none;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}