.header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
}

.header div, .header a {
  display: inline-block;
  font-size: 18px;
  align-self: flex-end;
  background: white;
  border: none;
  cursor: pointer;
  border-bottom: solid 5px white;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  color: black;
  text-decoration: none;
}

.header a.idl-logo {
  padding: 10px 10px 5px 10px;
  margin: 0;
  border: none;
}

.header .button:hover {
    background: white;
    border-bottom: solid 5px rgb(92, 64, 141);
}
.header .button.right {
    position: absolute;
    right: 0;
}

.modal {
  position: relative;
  top: 0;
  max-height: 90vh;
  left: 10%;
  width: 80%;
  background: white;
  margin: 10px;
  margin-top: 0;
  padding: 29px 30px;
  z-index: 90;
  border: solid 1px rgb(92, 64, 141);
  overflow-y: auto;
}


.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}

.modal-area {
  position: absolute;
  top: 70px;
  left: 0%;
  width: 100%;
  bottom: 10%;
  z-index: 90;
}

.modal-header {
  position: absolute;
  top: 70px;
  left: 10%;
  width: 80%;
  background: white;
  z-index: 95;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: white;
}

.close-button:hover {
  background: rgba(243, 240, 240, 0.63);
}

.button-groups button {
  font-size: 16px;
  padding: 5px 10px;
  background: white;
  border: solid 1px black;
  cursor: pointer;
  width: 120px;
}

.button-groups button.selected {
  background: rgb(92, 64, 141);
  color: white;
}

.button-groups button:first-of-type {
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.button-groups button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.button-groups button:not(.selected):hover {
  background: #f7f5f5;
  color: black;
}

.button-groups button:focus {
  outline: none;
}

.button-groups {
  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: -16px;
  z-index: 100;
}

.specType {
  border-bottom: solid 1px #666;
  clear: left;
}

.itemGroup {
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  padding: 12.5px;
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  line-height: 12px;
}

.item .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 80px;
  background-color: white;
}

.item .name {
  margin-top: 3px;
  padding-top: 5px;
  border-top: solid 1px #666;
  font-size: 12px;
}

.item:hover {
  background: rgba(243, 240, 240, 0.63);
}

.gist-content {
  padding-left: 20px;
}

.gist-button {
  background: white;
  border: 1px solid #A9A9A9;
  cursor: pointer;
  width: 50%;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.gist-button:hover {
  background: rgb(92, 64, 141);
  color: white;
}

.gist-text {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic;
}

.gist-url {
  font-size: 12px;
  font-style: italic;
  color: rgb(6,69,173);
}

.gist-input {
  display: block;
  width: 100%;
  resize: none;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px;
}

.customSubmenu {
  font-size: 16px;
  padding: 10px 23px;
  background: white;
  border-left: solid 1px #A9A9A9;
  border-right: solid 1px #A9A9A9;
  border-bottom: solid 1px #A9A9A9;
  cursor: pointer;
}

.customSubmenu:hover {
  background: rgb(92, 64, 141);
  color: white;
}

#emptyButton:hover {
  border-bottom: solid 5px rgb(92, 64, 141);
}