.modal-top {
  align-self: flex-start;
  margin-top: 6vh;
}

.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.header-button,
.header a {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  user-select: none;
  position: relative;
  z-index: 10;
  white-space: nowrap;
}

.header a.idl-logo {
  padding: 10px;
  margin: 0;
  border: none;
}

.header-button:hover,
.docs-link:hover {
  background: rgba(0, 0, 0, 0.08);
}

.header section > span {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
  padding: 0 5px;
}

.header-icon {
  margin-right: 5px;
  vertical-align: middle;
}

.header section {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.docs-link {
  align-self: flex-end;
}

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.modal {
  position: relative;
  background: white;
  width: 80%;
}

.modal h2 {
  margin: 0;
}

.modal-header,
.modal-footer {
  height: 50px;
  z-index: 20;
}

.modal-header:after {
  display: table;
  content: "";
  clear: both;
}

.modal-body {
  padding: 0 30px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 20;
}

.modal-hidden {
  overflow: hidden;
}

.close-button {
  float: right;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: white;
}

.close-button:hover {
  background: rgba(243, 240, 240, 0.63);
}

.close-button:focus {
  outline: 0;
}

.button-groups button {
  width: 120px;
  font-size: 16px;
  padding: 5px 10px;
  background: white;
  border: solid 1px black;
  cursor: pointer;
}

.button-groups button.selected {
  background: rgb(92, 64, 141);
  color: white;
}

.button-groups button:first-of-type {
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.button-groups button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.button-groups button:not(.selected):hover {
  background: #f7f5f5;
  color: black;
}

.button-groups button:focus {
  outline: none;
}

.button-groups {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
  z-index: 10;
}

.specType {
  border-bottom: solid 1px #666;
  clear: left;
}

.itemGroup {
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  padding: 12.5px;
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  line-height: 12px;
}

.item .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 80px;
  background-color: white;
}

.item .name {
  margin-top: 3px;
  padding-top: 5px;
  border-top: solid 1px #666;
  font-size: 12px;
}

.item:hover {
  background: rgba(243, 240, 240, 0.63);
}

.gist-content {
  padding: 10px;
}

.gist-button {
  background: rgb(100, 80, 150);
  color: white;
  border: 1px solid #a9a9a9;
  cursor: pointer;
  height: 30px;
  outline: none;
  font-size: 16px;
  float: right;
  padding: 0 20px;
}

.gist-button:hover {
  background: rgb(92, 64, 141);
  color: white;
}

.gist-text {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic;
}

.gist-url {
  font-size: 12px;
  font-style: italic;
  color: rgb(6, 69, 173);
}

.gist-input-container {
  margin-top: 20px;
}

.gist-optional:after {
  display: table;
  content: "";
  clear: both;
}

.gist-optional-input-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.gist-input-container input[type="radio"] {
  margin-left: 10px;
}

.gist-input-container input:checked + label {
  text-decoration: underline;
}

.gist-input {
  display: block;
  width: 100%;
  resize: none;
  font-size: 14px;
  padding: 5px;
}

.error-message {
  font-size: 12px;
  height: 10px;
  color: red;
  margin-top: 5px;
  margin-bottom: 30px;
}

.mode-switcher {
  width: 110px;
}

.Select * {
  color: #000 !important;
}

.Select-control {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.Select-option.is-focused {
  background-color: #fff !important;
}

.Select-option:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.auto-run-toggle .Select-control,
.auto-run-toggle .Select-input {
  background: transparent !important;
  border: none !important;
}

.auto-run-toggle .Select-control {
  height: 60px;
  padding-right: 15px;
}

.auto-run-toggle .Select-arrow-zone {
  position: relative;
  z-index: 12;
}

.auto-run-toggle {
  width: 120px;
  right: 90px;
  margin-right: -105px;
}

.split-button > div:hover {
  background: transparent;
}

.split-button:hover {
  background: rgba(0, 0, 0, 0.08);
}

.auto-run .header-button {
  opacity: 0.4;
}

.auto-run .parse-mode {
  color: #000;
}

.parse-mode {
  position: absolute;
  bottom: 5px;
  right: 12px;
  text-align: center;
  width: 43%;
  font-size: 10px;
  color: #aaa;
}

.header-button svg,
.docs-link svg {
  display: none;
}

.export-buttons {
  margin: 20px 0;
}

.export-button {
  width: 25%;
  max-width: 420px;
  min-width: 280px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  margin-right: 40px;
}

.export-button:hover {
  background: #ddd;
}

.export-button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-button span {
  padding-left: 8px;
  font-size: 1.6em;
  line-height: 50px;
}

.export-button p {
  color: #333;
  line-height: 1.2;
}

.export-button svg {
  width: 30px;
  height: 30px;
}

.user-notes p {
  padding: 20px 0;
}

.share-content a {
  color: #000;
}

.share-content p {
  line-height: 0.7;
}

.exported-url {
  display: flex;
}

.exported-url span:first-child {
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  line-height: 25px;
  white-space: nowrap;
}

.exported-url a::selection {
  background: rgba(0, 0, 0, 0.15);
}

.share-buttons,
.share-button {
  display: flex;
  align-items: center;
}

.share-button {
  font-size: 0.9em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  margin: 30px 0;
}

.share-button svg {
  width: 22px;
  height: 22px;
  stroke: #000;
  padding-right: 5px;
}

.copy-icon {
  margin-left: 20px;
}

.copy-icon span {
  display: flex;
  align-items: center;
}

.copied {
  padding: 0 20px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.user-pref label {
  display: flex;
  align-items: center;
  padding: 20px 0 30px 0;
}

.user-pref input[type="checkbox"]:focus {
  outline: 0;
}

.pressed {
  color: #666 !important;
}

.share-button:hover {
  border-color: #aaa;
}

.share-button:active {
  background-color: #ddd;
}

.warning {
  padding-left: 10px;
}

.warning,
.warning a {
  color: #f0ad4e;
}

.export-content > p {
  padding: 30px 0 0 0;
  margin: 0;
}

/* Media queries */
@media only screen and (min-width: 960px) {
  .header-button svg,
  .docs-link svg {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .header-button,
  .header a {
    padding: 0 20px;
  }

  .auto-run-toggle {
    width: 120px;
    right: 100px;
    margin-right: -105px;
  }
}
