.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.header-button,
.header a {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  user-select: none;
  position: relative;
  z-index: 10;
  white-space: nowrap;
  padding: 0px 17px;
}

.header-button:hover,
.dark-background {
  background: rgba(0, 0, 0, 0.08);
}

.header section > span {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-icon {
  margin: 0 5px 0 0;
  width: 20px;
}

.header section {
  display: flex;
  align-items: center;
}

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.modal {
  position: relative;
  background: white;
  width: 80%;
  align-self: flex-start;
  margin-top: 6vh;
}

.modal-body {
  padding: 30px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 20;
}

.modal-hidden {
  overflow: hidden;
}

.modal-body h1 {
  font-size: 1.8em;
}

.modal-body h1:first-child {
  margin-top: 0;
}

.close-button {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

.close-button:hover {
  background: rgba(243, 240, 240, 1);
}

.close-button:focus {
  outline: 0;
}

.button-groups button {
  width: 120px;
  font-size: 16px;
  padding: 5px 10px;
  background: white;
  border: solid 1px black;
  cursor: pointer;
}

.button-groups button.selected {
  background: rgb(92, 64, 141);
  color: white;
}

.button-groups button:first-of-type {
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.button-groups button:last-of-type {
  border-radius: 0 15px 15px 0;
}

.button-groups button:not(.selected):hover {
  background: #f7f5f5;
  color: black;
}

.button-groups button:focus {
  outline: none;
}

.button-groups {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
  z-index: 21;
}

.specType {
  border-bottom: solid 1px #666;
  clear: left;
  padding-bottom: 2px;
}

.itemGroup {
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  padding: 12.5px;
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  line-height: 12px;
}

.item .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 80px;
  background-color: white;
}

.item .name {
  margin-top: 3px;
  padding-top: 5px;
  border-top: solid 1px #666;
  font-size: 12px;
}

.item:hover {
  background: rgba(243, 240, 240, 0.63);
}

.mode-switcher-wrapper {
  width: 125px;
  margin: 0 8px;
  font-size: 14px;
}

.run-button {
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
}

/* Overriding default styles of React Select v2*/
.mode-switcher__menu,
.auto-run__menu {
  box-shadow: none !important;
  border: 1px solid #d9d9d9 !important;
  border-top: 0 !important;
}

.mode-switcher__menu {
  margin-top: 0 !important;
}

.auto-run__menu {
  margin-top: 10px !important;
}

.auto-run__option {
  color: #000 !important;
}

.auto-run__control {
  border: none !important;
}

.mode-switcher__control {
  border-color: #d9d9d9 !important;
}

.mode-switcher__control--is-focused {
  box-shadow: none !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mode-switcher__single-value {
  overflow: initial !important;
}

.auto-run__control--is-focused {
  box-shadow: 0 0 0 1px transparent !important;
}

.auto-run__option--is-focused,
.mode-switcher__option--is-focused {
  background-color: #fff !important;
}

.auto-run__menu,
.mode-switcher__menu {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.auto-run__option:hover,
.mode-switcher__option:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.auto-run-wrapper .auto-run__control {
  background: transparent !important;
  border: none !important;
}

.auto-run-wrapper .auto-run__indicator {
  position: relative;
  z-index: 12;
}

.auto-run-wrapper .auto-run__indicator-separator {
  width: 0px;
}

.auto-run-wrapper {
  width: 85px;
  right: 64px;
  margin-right: -105px;
  padding-right: 7px;
}

.split-button {
  width: 84px;
}

.split-button > div:hover {
  background: transparent;
}

.split-button:hover {
  background: rgba(0, 0, 0, 0.08);
}

.parse-label {
  padding: 3px 0;
}

.parse-mode {
  text-align: center;
  font-size: 10px;
  color: #666;
  padding: 3px 0;
}

/* Media queries */
@media only screen and (min-width: 1000px) {
  .header-button .header-icon {
    display: block;
  }

  .auto-run-wrapper {
    width: 90px;
  }

  .auto-run__menu {
    right: 5px !important;
    width: 111px !important;
  }

  .split-button {
    width: 110px;
  }
}
