/* Roboto latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  /* Root font size*/
  font-size: 16px;

  --base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  --base-line-height: 1;

  --spacing-unit: 5px;

  /* Colors */
  --light-color: #dedede;
  --dark-color: #24292e;
  --primary-color: #f5f5f5;
  --primary-light-color: #ffffff;
  --primary-dark-color: #d5d5d5;
  --brand-color: #654ff0;
  --error-color: #f44336;
  --warning-color: #ffc107;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
  line-height: var(--base-line-height);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.main-pane > .Pane1 .Pane,
.main-pane > .Pane1 .SplitPane,
.react-monaco-editor-container {
  /* Need to override overflow because we can't set it on the pane. */
  overflow: visible !important;
}

.hide {
  display: none;
}

button:focus {
  outline: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px; /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-dark-color);
  border-radius: 8px;
}

.reset {
  width: 50%;
  min-width: 300px;
  max-width: 600px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset button {
  padding: 10px;
  font-size: 1.1em;
}

.main-panel {
  position: relative;
  display: flex;
  flex-direction: row;
}

p {
  line-height: 1.3;
}
