.settings {
  position: absolute;
  height: 100vh;
  right: 0px;
  background: white;
  box-shadow: -5px 9px 7px -4px rgba(0, 0, 0, 0.6);
  width: 290px;
  font-size: 14px;
}

@media screen and (min-width: 1000px) {
  .settings {
    width: 270px;
    background: white;
    position: inherit;
    width: 290px;
    font-size: 14px;
    box-shadow: unset;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
  }
}

.select-container {
  margin: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.renderer-dropdown-wrapper,
.log-level-dropdown-wrapper {
  width: 150px;
  margin-left: 10px;
}

.renderer-dropdown__option,
.log-level-dropdown__option {
  background-color: white !important;
  color: black !important;
}
.renderer-dropdown__option:hover,
.log-level-dropdown__option:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.tooltips,
.hover-enable {
  width: 150px;
  margin: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.tooltips > label,
.hover-enable > label {
  margin-left: 2px;
  white-space: nowrap;
}

.small-text {
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: small;
  color: #777;
  margin: 12px 29px;
}
