.settings {
  position: absolute;
  height: 100vh;
  right: 0px;
  width: 270px;
  background: white;
}

@media screen and (min-width: 1400px) {
  .settings {
    width: 270px;
    background: white;
    position: inherit;
  }
}
@media screen and (min-width: 1600px) {
  .settings {
    width: 270px;
    background: white;
  }
}
@media screen and (min-width: 1900px) {
  .settings {
    width: 270px;
    background: white;
  }
}

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.toggleWrapper input {
  position: absolute;
  left: -99em;
}
.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  background: #d21626;
  border-radius: 5px;
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before,
.toggle:after {
  position: absolute;
  line-height: 50px;
  font-size: 14px;
  z-index: 2;
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before {
  content: "OFF";
  left: 20px;
  color: #d21626;
}
.toggle:after {
  content: "ON";
  right: 20px;
  color: #fff;
}
.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  background: #fff;
  width: 65px;
  height: 44px;
  border-radius: 3px;
  top: 3px;
  left: 3px;
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
input:checked + .toggle {
  background: #66b317;
}
input:checked + .toggle:before {
  color: #fff;
}
input:checked + .toggle:after {
  color: #66b317;
}
input:checked + .toggle .toggle__handler {
  width: 54px;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  border-color: #fff;
}
