.settings {
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  width: 290px;
  font-size: 14px;
  padding: 25px;
}

@media only screen and (max-width: 1000px) {
  .settings {
    position: absolute;
    height: 100%;
    right: 0px;
    top: -2px;
    background: white;
    box-shadow: -2px 4px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
  }
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.log-level-dropdown-wrapper,
.hover-enable-dropdown-wrapper {
  width: 150px;
  margin-left: 10px;
}

.renderer-dropdown__option,
.log-level-dropdown__option,
.hover-enable-dropdown__option {
  background-color: white !important;
  color: black !important;
}
.renderer-dropdown__option:hover,
.log-level-dropdown__option:hover,
.hover-enable-dropdown__option:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.renderer-dropdown__single-value,
.log-level-dropdown__single-value,
.hover-enable-dropdown_-single-value {
  line-height: normal !important;
}

.tooltips,
.hover-enable {
  width: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.tooltips > label,
.hover-enable > label {
  margin-left: 2px;
  white-space: nowrap;
}

.settings-description {
  font-size: small;
  color: #666;
  margin: 12px 0 30px 0;
}

.settings-description a {
  color: #333;
}
