.data-table {
  max-width: 100%;
  font-size: 0.9em;
  overflow: scroll;
}

.data-table table {
  border: 1px solid #dfe2e5;
  max-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.data-table th {
  text-align: center;
  border-bottom: 2px solid #dfe2e5;
  background-color: #f6f8fa;
}

.data-table td,
.data-table th {
  border: 1px solid #dfe2e5;
  padding: 8px;
  height: 12px;
  word-break: keep-all;
  min-width: 30px;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f6f8fa;
}
