.data-table {
  font-size: 0.9em;
  overflow: auto;
}

.data-table table {
  border: 1px solid #dfe2e5;
  max-width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.data-table th {
  text-align: center;
  border-bottom: 2px solid #dfe2e5;
  background-color: #f6f8fa;
}

.data-table td,
.data-table th {
  border: 1px solid #dfe2e5;
  padding: 8px;
  word-break: keep-all;
  min-width: 30px;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f6f8fa;
}

.data-table::-webkit-scrollbar {
  width: 7px; /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

.data-table::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.data-table::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
