.text-content h1 {
  @apply text-2xl mb-2;
}

.text-content h2 {
  @apply text-xl mb-2;
}

.text-content h3 {
  @apply text-lg mb-2;
}

.text-content a {
  @apply underline;
}

.text-content p {
  @apply my-1;
}
