.chart {
  background: white;
  padding: 10px;
  display: inline-block;
}

.chart .vega-bindings {
  line-height: 20px;
}

.chart .vega-bind-name {
  display: inline-block;
  width: 105px;
}

.chart .vega-bind input[type="range"] {
  padding: 0;
  width: 100px;
}

.chart .vega-bind select {
  max-width: 200px;
}

.chart .vega-bind label {
  margin-left: 4px;
}

.chart .vega-bind-radio label {
  margin-left: 0;
  margin-right: 4px;
}

.fullscreen-chart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  z-index: 15;
}

.fullscreen-chart > div {
  margin: auto;
}

.fullscreen-open {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fullscreen-close {
  display: flex;
  align-items: center;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  padding: 5px 15px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 2px;
  z-index: 1000;
}

.fullscreen-close span {
  padding-left: 5px;
}

.fullscreen-close:hover {
  background: rgba(0, 0, 0, 0.08);
}
