.chart {
  background: var(--white-color);
  padding: 10px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.chart .vega-bindings {
  line-height: 24px;
}

.chart .vega-bind-name {
  display: inline-block;
  width: 120px;
}

.chart .vega-bind input[type="range"] {
  width: 120px;
}

.chart .vega-bind select {
  max-width: 200px;
}

.fullscreen-chart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  background: var(--white-color);
  z-index: 15;
}

.fullscreen-chart > div {
  margin: auto;
}

.fullscreen-chart .chart {
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.fullscreen-open {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(247, 246, 246, 0.6);
  cursor: pointer;
}

.fullscreen-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.1em;
  z-index: 1000;
}

.chart-resize-handle {
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  position: absolute;
}

.chart-resize-handle svg {
  display: block;
}

.chart-resize-handle svg path {
  stroke: var(--gray-color);
}

.chart .chart-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 239, 0.3);
  z-index: 14;
  border: 1px solid rgb(79, 153, 252);
  color: white;
}
