.chart {
  background: white;
  padding: 10px;
  display: inline-block;
}

.chart .vega-bindings {
  line-height: 20px;
}
.chart .vega-bind-name {
  display: inline-block;
  width: 105px;
}
.chart .vega-bind input[type="range"] {
  padding: 0;
  width: 100px;
}
.chart .vega-bind select {
  max-width: 200px;
}
.chart .vega-bind label {
  margin-left: 4px;
}
.chart .vega-bind-radio label {
  margin-left: 0;
  margin-right: 4px;
}
.fullscreen-chart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.fullscreen-chart > div > *:first-child {
  display: block;
  margin: 0 auto;
}
.fullscreen-open {
  position: absolute;
  width: 30px;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.fullscreen-close {
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  width: 200px;
  height: 40px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2em;
}
.fullscreen-close:hover {
  background: rgba(0, 0, 0, 0.08);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
