.help-modal ul {
  padding-left: 0;
}

.help-modal li {
  list-style: none;
}

.modal-header {
  margin: 10px 0 20px 0;
}

.help-modal h2 {
  margin: 26px 0 14px 0;
}

.help-modal .doc-link {
  display: block;
  margin-bottom: 8px;
}

.keyboard-shortcuts {
  margin-bottom: 1.5em;
}

.keyboard-shortcuts li {
  margin-bottom: 1em;
}

.report-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

kbd {
  background-color: #fafbfc;
  border: 1px #c6cbd1 solid;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  line-height: 10px;
  padding: 2px 5px;
  vertical-align: middle;
  margin: 7px;
}

.doc-image {
  height: 20px;
  margin: 0px 6px 0px 2px;
  vertical-align: sub;
}
