.help-modal ul {
  padding-left: 0;
}

.help-modal li {
  list-style: none;
}

.modal-header {
  margin: 10px 0 20px 0;
}

.help-modal h2 {
  margin: 16px 0 12px 0;
}

.help-modal .doc-link {
  display: block;
  margin-bottom: 8px;
}

.keyboard-shortcuts li {
  margin-bottom: 1em;
}

.report-button {
  position: absolute;
  right: 3%;
  bottom: 6%;
}

.report-button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

.report-button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

.report-button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

kbd {
  background-color: #fafbfc;
  border: 1px #c6cbd1 solid;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  line-height: 10px;
  padding: 2px 5px;
  vertical-align: middle;
  margin: 7px;
}

.doc-image {
  height: 20px;
  margin: 0px 6px 0px 2px;
  vertical-align: sub;
}

.version-viewer {
  display: flex;
  flex-direction: row;
  font-size: small;
  color: #777;
  margin: 2em 0;
}

.version-viewer div {
  margin-right: 1em;
}
