.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}

.info {
  color: #399e39;
}

.error-pane {
  overflow: auto;
  width: 100%;
}

.error-pane ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 2em;
}
