.error-pane .error {
  color: var(--error-color);
  line-height: 25px;
}

.error-pane .warning {
  color: var(--warning-color);
  line-height: 25px;
}

.error-pane .info {
  color: var(--error-pane-info-color);
  line-height: 25px;
}

.error-pane {
  overflow: auto;
  width: 100%;
  flex: 1;
}

.error-pane ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 2em;
}
