.data-dropdown {
  display: inline-flex;
  position: relative;
  margin: 10px 0;
  z-index: 5;
  width: 200px;
}

.data-dropdown:focus {
  outline: 0;
}

.data-viewer {
  display: flex;
  flex-direction: column;
  padding: 0 20px 15px 20px;
  height: 100%;
}

.data-viewer-header {
  width: 100%;
  align-items: center;
}

.refresh-btn {
  display: inline-flex;
  vertical-align: middle;
  margin: 0 calc(var(--spacing-unit) * 4);
}

/* Pagination styles */
.pagination-wrapper {
  display: inline-flex;
  vertical-align: middle;
}

.pagination li:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination li {
  display: inline-flex;
  border: 1px solid var(--primary-dark-color);
  border-right: 0;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
}

.pagination li:last-child {
  border-right: 1px solid #ddd;
}

.pagination a:focus {
  outline: 0;
}

.pagination .active {
  background: var(--primary-color);
}

.pagination .disabled {
  color: var(--primary-dark-color);
}
