.data-dropdown {
  display: inline-flex;
  position: relative;
  margin: 10px 0;
  z-index: 1000;
  width: 200px;
}

.data-dropdown:focus {
  outline: 0;
}

.data-viewer {
  padding: 0 20px 15px 20px;
  height: 100%;
  overflow: scroll;
}

.data-viewer-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.data-viewer-header button {
  font-size: 1em;
  margin-left: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 31px;
  cursor: pointer;
  user-select: none;
}

.data-viewer-header button:focus {
  outline: none;
}

.data-viewer-header button:hover {
  border-color: #aaa;
}

.data-viewer-header button:active {
  background-color: #ddd;
}

.pagination-wrapper {
  flex: 1;
}

.pagination {
  margin: 10px auto 10px auto;
}

.pagination li {
  display: inline-block;
  border: 1px solid #ddd;
  border-right: 0;
  padding: 5px 0;
  cursor: pointer;
}

.pagination li:last-child {
  border-right: 1px solid #ddd;
}

.pagination a,
.pagination .break {
  padding: 5px 10px;
}

.pagination a:focus {
  outline: 0;
}

.pagination .active {
  background: #ddd;
}

.pagination .disabled {
  color: #ddd;
}

.data-viewer::-webkit-scrollbar {
  width: 7px; /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

.data-viewer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.data-viewer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
