.data-dropdown {
  display: inline-block;
  position: relative;
  margin: 10px 0;
  z-index: 5;
  width: 200px;
  vertical-align: middle;
}

.data-dropdown:focus {
  outline: 0;
}

.data-viewer-header {
  width: 100%;
  margin-left: 10px;
  align-items: center;
}

.data-viewer-header button {
  font-size: 1em;
  background: var(--white-color);
  border: 1px solid var(--dark-gray-color);
  border-radius: 4px;
  line-height: 33px;
  cursor: pointer;
  user-select: none;
  margin: -2px 20px 0 20px;
}

.data-viewer-header button:focus {
  outline: none;
}

.data-viewer-header button:hover {
  border-color: var(--extra-dark-gray-color);
}

.data-viewer-header button:active {
  background-color: var(--dark-gray-color);
}

.pagination-wrapper {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 5px;
}

.pagination {
  padding: 0;
}

.pagination li:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination li {
  display: inline-block;
  border: 1px solid var(--gray-color);
  border-right: 0;
  padding: 10px 0;
  cursor: pointer;
  user-select: none;
}

.pagination li:last-child {
  border-right: 1px solid var(--gray-color);
}

.pagination a,
.pagination .break {
  padding: 10px 10px;
  color: inherit;
}

.pagination a:focus {
  outline: 0;
}

.pagination .active {
  background: var(--gray-color);
}

.pagination .disabled {
  color: var(--gray-color);
}

.error {
  color: var(--error-color);
}

.data-table {
  margin: 10px;
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  flex: 1;
}
