name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish:
    name: Lint and Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.4.1
        with:
          node-version: 15

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - run: yarn lint
      - run: yarn tsc
      - run: yarn build:only
