name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
  
jobs:
  unit:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24

      - name: Install Node dependencies
        run: npm ci

      - name: Run unit tests
        run: npx vitest --project unit

      - name: Build
        run: npm run build

  e2e:
    name: E2E tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24

      - name: Install Node dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install --with-deps chromium

      - name: Run E2E tests
        run: npx playwright test --project=chromium --reporter=github,html

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 7
        
  publish:
    name: Lint and Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Install Node dependencies
        run: npm ci

      - run: npm run lint
      - run: npx tsc
      - run: npm run build:only
