.dataflow-pane {
  overflow: auto;
  width: 100%;
  flex: 1;
}

/* Make definition lists tighter */
.tippy-box dl {
  margin: 0;
}
.tippy-box pre {
  margin: 0;
}

.tippy-box dd {
  margin-inline-start: 0;
  overflow: auto;
}

.tippy-box dt {
  font-weight: 700;
}
